@media screen and (orientation: portrait) {

    .page {
        width: 100vw;
        height: 100vh;
    }

    .cover {
        /* background-image: url("/assets/page1/cover_background_01.png"); */
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    .title-container {
        width: 100vw;
        padding-top: 24vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 80vw;
        animation: icon-loop 5000ms infinite;
    }

    @keyframes icon-loop {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }

    .sub-title {
        width: 50vw;
    }

    .play-button {
        position: absolute;
        bottom: 5vh;
        width: 40vw;
        left: 30vw;
    }

    .play-button:hover {
        animation: button-click 1000ms forwards;
    }

    @keyframes button-click {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(1.1);
        }
    }

    .note {
        position: absolute;
        width: 7vw;
        top: 5vw;
        right: 5vw;
    }

    .note:hover {
        animation: button-click 1000ms forwards;
    }
}